* { margin:0; padding:0; box-sizing:border-box; }

body {
  text-align: left;
  color: rgb(100,100,100);
  font-size: 14px;
  font-family: 'Lora', serif;
  line-height: 1.5em;
  background:url(images/knit_pattern_lt.png);
  background-repeat: repeat;
}
header {
  text-align: center;
  padding: 1em;
  clear: both;
  overflow: auto;
  max-width: 1450px;
  margin: 0 auto;
}
aside {
  background-color: rgba(150, 150, 150, .1);
  padding: 1em;
  width: 23%;
  margin: .5em;
  float: right;
  clear: both;
  display: inline-block;
  border: 1px dashed rgb(100, 100, 100);
}
footer {
  padding: 0;
  clear: both;
  background-color: rgb(255, 255, 255);
  max-width: 1450px;
  margin: 0 auto;
}
h1,h2,h6 {
  font-family: 'Amatic SC', cursive;
  margin-bottom: .25em;
  color: rgb(90, 105, 139);
}
h1 {
  margin-top: 1em;
  font-size: 3em;
  font-weight: 700;
}
h6 {
  font-family: 'Lora', serif;
  text-align: center;
}
a:link {
  text-decoration: none;
  color: none;
}
a:visited {
  text-decoration: none;
}
a:hover {
  color: rgb(150,150,150);
}
a:active {
  color: rgb(0,0,0);
}
hr {
  display: block;
  margin-top: 2em;
  border-style: dashed;
  border-width: 1px;
  color: rgb(200,200,200);
}
p {
  text-align: left;
  margin-bottom: 1em;
}
p + a {
  margin-top: 2em;
  color: rgb(166,216,65);
  font-size: 14px;
  font-weight: 300;
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  letter-spacing: .05em;
  padding: .25em .5em;
  border: 1px solid;
}
h1 + p {
  margin-top: .75em;
}
aside img {
  width: 100%;
  float: left;
  padding: .5em;
  margin-bottom: 1em;
}
.clearfix:after {
  visibility: hidden;
  display: block;
  content: " ";
  clear: both;
  height: 0;
  font-size: 0;
}
.margin_below {
  margin-bottom: 1em;
}
.twentyfivepercent_image {
  width: 25%;
  float: left;
  padding: .5em;
  margin: 0;
}
.fiftypercent_image {
  width: 50%;
  float: left;
  padding: .5em;
}
.onehundredpercent_image {
  width: 100%;
  float: left;
  padding: .5em;
}
.blogcopy {
  clear: both;
  margin: 1em 0;
  padding: 1em .25em;
}
#wrapper {
  text-align: center;
  padding: 1em;
  background-color: rgb(255,255,255);
  clear: both;
  overflow: auto;
  max-width: 1450px;
  margin: 0 auto;
}
#llmlogo {
  width: 15em;
  padding: 1em;
  display: inline-block;
  float: left;
}
#photo_grid {
  width: 75%;
  clear: both;
  display: inline-block;
}
#social {
  list-style: none;
}
#copyright {
  background-color: rgb(255,255,255);
  padding: 1em 0;
  clear: both;
}
@media only screen and (max-width: 800px) {
  nav {
     float: none;
  }
  nav a {
    margin: 1em;
  }
}