* { margin:0; padding:0; box-sizing:border-box; }

body {
  text-align: left;
  color: rgb(100,100,100);
  font-size: 16px;
  font-family: 'Lora', serif;
  line-height: 1.5em;
  background:url(images/knit_pattern_lt.png);
  background-repeat: repeat;
}
header {
  text-align: center;
  padding: 1em 1em 0 1em;
  clear: both;
  overflow: auto;
  max-width: 1450px;
  margin: 0 auto;
  vertical-align: center;
}
nav {
  display: block;
  float: right;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: .05em;
  list-style: none;
  }
aside {
  padding: 0 1em;
  width: 23%;
  margin: .5em;
  float: right;
  clear: both;
  display: inline-block;
  border-left: 1px dashed rgb(200,200,200);
  border-bottom: 1px dashed rgb(200,200,200);
}
footer {
  padding: 0;
  clear: both;
  max-width: 1450px;
  margin: 0 auto;
}
h1,h2,h3,h6 {
  font-family: 'Amatic SC', cursive;
  margin-bottom: .5em;
  color: rgb(90, 105, 139);
}
h1 {
  margin-top: 1em;
  font-size: 3em;
  font-weight: 700;
}
h2 {
  font-size: 2em;
}
h2 {
  font-size: 1.5em;
}
h6 {
  font-family: 'Lora', serif;
  text-align: center;
}
hr {
  display: block;
  margin-top: 2em;
  margin-bottom: 2em;
  border-style: dashed;
  border-width: 1px;
  color: rgb(200,200,200);
}
a:link {
  text-decoration: none;
  color: rgb(90, 105, 139);
}
a:visited {
  text-decoration: none;
}
a:hover {
  color: rgb(150,150,150);
  background-color: rgba(0,0,0,.05);
}
a:active {
  color: rgb(0,0,0);
  background-color: rgba(0,0,0,.1);

}
p {
  text-align: left;
  margin-bottom: 1em;
}
p + a {
  margin-top: 2em;
  color: rgb(166,216,65);
  font-size: 14px;
  font-weight: 300;
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  letter-spacing: .05em;
  padding: .25em .5em;
  border: 1px solid;
}
h1 + p {
  margin-top: .75em;
}
header nav li {
  font-family: 'Open Sans', sans-serif;
  color: rgb(90, 105, 139);
  padding: 1em;
  float: right;
  margin-top: 7em;
  border: 1px;
}
aside img {
  width: 100%;
  float: left;
  padding: 0 2em 2em 0;
}
.clearfix:after {
  visibility: hidden;
  display: block;
  content: " ";
  clear: both;
  height: 0;
  font-size: 0;
}
.margin_below {
  margin-bottom: 1em;
}
.twentyfivepercent_image {
  width: 25%;
  float: left;
  padding: .5em;
  margin: 0;
}
.thirtythreepercent_image {
  width: 33.3%;
  float: left;
  padding: .5em;
  margin: 0 0 1em 0;
}
.fiftypercent_image {
  width: 50%;
  float: left;
  padding: .5em;
}
.onehundredpercent_image {
  width: 100%;
  float: left;
  padding: .5em;
}
.photo_with_caption {
  overflow:hidden;
  position: relative;
}
.caption {
  position: absolute;
  bottom: -7em;
  right: 0;
  left: 0;
  background-color: rgba(0,0,0,.5);
  padding: 2em;
  width: 100%;
}
figure:hover .caption {
  bottom:0;
  transition-duration:.5s;
} 
.caption h3 {
  color: rgba(255,255,255,1);
}
.blogcopy {
  clear: both;
  margin: 1em 0;
  padding: 1em .25em;
}
#wrapper {
  text-align: center;
  padding: 1em;
  background-color: rgb(255,255,255);
  clear: both;
  overflow: auto;
  max-width: 1450px;
  margin: 0 auto;
}
#llmlogo {
  width: 15em;
  padding: 0;
  display: inline-block;
  float: left;
  clear: both;
}
#social_links {
  float: left;
  text-align: center;
  padding: 0;
  clear: both;
  overflow: auto;
  margin: 0;
  width: 20em;
}
#photo_grid {
  width: 75%;
  clear: both;
  display: inline-block;
}
#email_links {
  display: block;
  margin: 0;
  text-align: left;
  padding: .5em 0;
}
#email_links img {
  padding: 0;
  margin: 0;
  width: 5em;
}
#email_links h2 {
  display: block;
  float: left;
  padding: .5em 0;
}
#copyright {
  font-family: 'Open Sans', sans-serif;
  font-size: .75em;
  display: block;
  text-align: center;
  padding: 1em 0;
  clear: both;
}
#blog_preview h1 {
  text-align: left;
  display: block;
  margin-top: .25em;
}
#blog_preview h3 {
  text-align: left;
  letter-spacing: .05em;
}
@media only screen and (max-width: 1000px) {
  .twentyfivepercent_image {
    width: 50%;
  }
  #social_links img {
    width: 25%;
    padding: 1em;
  }
}
@media only screen and (max-width: 825px) {
  aside {
    display: block;
    float: none;
    width: 100%;
    margin: 0 auto;
    border: none;
  }
  aside img {
    display: inline;
    width: 20%;
    margin: 0;
    padding: 0 1em 1em 0;
  }
  aside h1 {
    text-align: left;
  }
  aside div {
    display: inline-block;
  }
  nav {
     float: right;
     text-align: center;
     margin-right: auto;
     margin-left: auto;
  }
  header nav li {
    margin-top: 0;
    padding: .5em;
    font-size: 16px;
  }
  header {
    text-align: center;
  }
  #llmlogo { 
    width: 15em;
    padding: 0 0 1em 0;
    display: block;
    float: none;
    text-align: center;
  }
  #photo_grid {
    width: 100%;
  }
  #social_links {
    width: 75%;
  }
}
@media only screen and (max-width: 420px) {
  body {
    text-align: center;
  }
  nav {
    float: none;
    text-align: left;
    font-size: 12px;
  }
  header nav li {
    float: none;
    text-align: center;
    padding: .25em;
  }
  aside img {
    width: 33.3%;
  }
  .twentyfivepercent_image {
    width: 100%;
  }
  .fiftypercent_image {
    width: 100%;
  }
  .thirtythreepercent_image {
  width: 100%;
  }
  #social_links {
    width: 100%;
  }
  #llmlogo {
        margin: 0 auto;
  }
}
